* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: white;
  font-family: "Sedgwick Ave", cursive;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #f7ff00, #db36a4 80%);
  font-size: 12px;
  font-weight: 500px;
}

.container {
  max-width: 1024px;
  padding: 0 100px 50px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 50px;
}
.header__logo {
  font-weight: 700;
}
.header__img {
  width: 50px;
  height: 50px;
}
.header__menu {
  list-style: none;
  display: none;
  gap: 0 30px;
}
.header__menu--link {
  font-weight: 600;
  transition: all 0.2s linear;
}
.header__menu--link:hover {
  color: black;
}
.header__button {
  background: #fff;
  border: 2px solid #fff;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  transition: all 0.2s linear;
  color: black;
}
.header__button:hover {
  background-image: linear-gradient(to right bottom, #f7ff00, #db36a4 80%);
  color: white;
}

ion-icon[name="star"] {
  color: #fff;
}

.men {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: relative;
  left: 0.3%;
  padding-bottom: 50px;
}
.men__name {
  font-size: 17px;
}
.men__box {
  border-radius: 0 25px 0 25px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 0 0 12px 12px;
  transition: all 0.2s linear;
}
.men__box:hover {
  background-color: #fff;
}
.men__box:hover .men__name,
.men__box:hover .men__buy--price {
  color: black;
}
.men__box:hover .men__buy--add {
  background-image: linear-gradient(to right bottom, #f7ff00, #db36a4 80%);
  color: white;
}
.men__box:hover ion-icon[name="star"] {
  color: #ffb703;
}
.men__box:hover .men__img--shoes {
  transform: none;
}
.men__img--shoes {
  width: 200px;
  position: relative;
  left: -25px;
  transform: rotate(25deg);
  transition: transform 0.15s linear 0.2s;
}
.men__buy {
  display: flex;
  gap: 0 67px;
}
.men__buy--price {
  font-size: 22px;
}
.men__buy--add {
  padding: 3px 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  border: 1.5px solid white;
}

@media screen and (min-width: 767px) {
  .men {
    flex-direction: column;
  }
  .header__menu {
    display: flex;
  }
}
@media screen and (min-width: 767.1px) and (max-width: 1000px) {
  .men {
    flex-direction: row;
    gap: 10px;
  }
  .men__box {
    max-width: 150px;
  }
  .men__img--shoes {
    width: 150px;
  }
  .men__buy {
    flex-direction: column;
  }
  .men__buy button {
    width: 80px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1023px) {
  .men {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .men {
    flex-direction: row;
  }

  .header {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=men.css.map */
